body {
    background-color: #f8f9fa;
}

.navbar-brand i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.progress {
    font-size: 1rem;
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #e7f1ff;
}

.accordion-button i {
    font-size: 1.2rem;
}

#log-output {
    white-space: pre-wrap;
    word-wrap: break-word;
}

